# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/api/node_modules
/api/config.json
/note-ai/node_modules

# production
/note-ai/build

# misc
.DS_Store

npm-debug.log*
